.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/heroBg.jpg");
  background-attachment: fixed;
  scrollbar-width: none;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
}

.main > section {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
}

/********** Hero Section **********/

.hero_section {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

.hero_section h1 {
  grid-column: 2;
  grid-row: 2;
  font-size: clamp(4rem, 15vw, 18rem);
  text-align: center;
}

.hero_section h3 {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.hero_nav {
  display: flex;
  align-items: center;
  grid-row: 2;
}

.hero_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 2;
}

@media screen and (max-width: 900px) {
  .hero_section h3 {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .hero_section {
    grid-template-columns: 25px 6fr 25px;
    grid-template-rows: 1fr 6fr 1fr;
  }
}

/* Portal */

.home_portal {
  position: fixed;
  border: 5px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(50px);
  z-index: 10;
  overflow: hidden;
}

/********** Sections Container **********/

.sections_container {
  margin-top: 228.75vh;
  scroll-snap-type: y mandatory;
}

/********** Projects Section **********/

.projects_section {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 12rem;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
}

.projects_displayContainer {
  grid-column: 2;
  grid-row: 2;

  position: relative;
  isolation: isolate;

  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 15%)) 1fr repeat(
      2,
      minmax(300px, 15%)
    );
  grid-template-rows: repeat(3, 1fr);
}

.retroSphere {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to top,
    var(--primary-color),
    rgb(0, 0, 37)
  );
  border-radius: 500vw;
  overflow: hidden;
  z-index: -1;
}

.retroSphere > a {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.retroSphere img {
  object-fit: cover;
  object-position: center;
}

/* Other Projects */

.otherProjects_container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  box-shadow: inset -1px 0 10px 0.25px rgb(141, 189, 218);
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
}

.containerTriangle {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  position: relative;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-shadow: -1px 0 10px 0.25px rgb(141, 189, 218);
}

.otherProjects {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 10px white, 0 0 15px var(--primary-color);
}

/* Project Card */

.project_cardContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  padding: 1rem;
  background-image: linear-gradient(
    -45deg,
    var(--primary-color) 20%,
    transparent 20% 80%,
    var(--primary-color) 80%
  );
}

.project_card {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  box-shadow: inset -1px 0 10px 0.25px rgb(141, 189, 218);
  border-radius: 5px;
  overflow: hidden;
}

.project_card * {
  text-shadow: 0 0 10px rgb(141, 189, 218);
  overflow: hidden;
}

.project_card > h3 {
  margin-bottom: 1.5rem;
}

.project_card > p {
  max-width: 80ch;
  margin-bottom: 1rem;
}

.project_cardTechs {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.project_cardLinks {
  display: flex;
  gap: 0.75rem;
  color: var(--attention-color);
}

/********** About Section **********/

.about_contentContainer {
  width: 100%;
  height: 100vh;
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.about_textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1 / span 3;
  grid-row: 1;
  padding-top: 15rem;
  padding-bottom: 5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.about_textContainer header {
  margin-bottom: 2rem;
}

.about_textContainer > div {
  width: 100%;
  max-width: 80ch;
}

.additionalInfo {
  cursor: pointer;
}

.additionalInfo ul {
  max-width: 50ch;
}

.additionalInfo li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.about_quoteBlock {
  margin-top: 3rem;
  max-width: 50ch;
}

.about_quoteBlock figcaption {
  margin-top: 0.5rem;
}

.about_imgContainer {
  position: relative;
  grid-column: 3 / span 3;
  grid-row: 1;
  width: 100%;
  height: 100%;
  /* background-image: url("/images/aboutFiller.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
}

.about_imgContainer > img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.514));
  object-fit: cover;
  object-position: center;
  bottom: 0;
  z-index: -1;
}
/********** Contact Section **********/

.contact_section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.contact_contentContainer {
  display: flex;
  align-items: center;
  gap: 8rem;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
}

.contact_text {
  flex: 1 1 auto;
  max-width: 80ch;
}

.contactsContainer {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
}

.contact_link {
  font-size: 3rem;
  color: var(--attention-color);
  transition: 0.5 ease-in-out;
}

.contact_link:hover {
  color: var(--attention-color-shade);
}

.contact_formContainer {
  flex: 2 1 auto;
}

.contact_formContainer form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 500px;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  box-shadow: inset -1px 0 10px 0.25px rgb(141, 189, 218);
  text-shadow: 0 0 10px rgb(141, 189, 218);
}

.contact_formContainer form > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact_formContainer form > div input {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--white-opacity);
}

.contact_formContainer form > div textarea {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white-opacity);
}

.contact_formContainer form > div input:focus-visible,
.contact_formContainer form > div textarea:focus-visible {
  outline: none;
  border-color: var(--attention-color);
  box-shadow: -1px 0 10px 0.25px var(--attention-color-shade);
}

.contact_formContainer form > div input:invalid,
.contact_formContainer form > div textarea:invalid {
  outline: none;
  border-color: var(--error);
  box-shadow: -1px 0 10px 0.25px var(--error-tint);
}
