.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 300vh;
  scrollbar-width: none;
  min-height: 100vh;
  position: relative;
  isolation: isolate;
}

.main > section {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
}

/* Hero Section */

.hero_section {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url("/images/heroBg.jpg");
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

.hero_nav {
  display: flex;
  align-items: center;
  grid-row: 2;
}

.hero_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 2;
}

/* Portal */

.home_portal {
  position: fixed;
  left: 50%;
  width: 500px;
  height: 500px;
  border-radius: 500vw;
  border: 5px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  z-index: 10;
}
